/* Mobile Start */
@media (max-width: 576px) {
  .profile,
  .logo-nav-link .link {
    display: none;
  }
  .donstore {
    width: 100%;
    margin-left: 8px;
    box-sizing: border-box;
  }
  .logo-nav-link {
    padding: 0;
    width: 35%;
    order: 2;
  }
  .nav-store {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .basket {
    display: flex;
    order: 3;
    height: 30px;
  }

  .basket .basket-icon {
    width: 43%;
  }
  .basket p {
    font-size: 17px;
  }
  .hamburger-menu {
    order: 1;
    cursor: pointer;
  }
  .jumbotron {
    margin-top: 75px;
  }
  #details-nav {
    display: none;
  }
  #details-nav.showDetailsNav {
    display: none;
  }
}
/* Mobile End */
@media (min-width: 576px) {
  .hamburger-menu {
    display: none;
  }
  .basket {
    display: flex;
  }
  .nav-store .offcanvas {
    display: none;
  }
  .container-nav-details {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .link-nav-details {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .nav-images-sort {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
  }
  nav.details {
    margin-top: 123px;
  }
  .container-nav-details img {
    width: 95%;
  }
  #details-nav {
    transform: translateY(-100%);
  }
  #details-nav.showDetailsNav {
    transform: translateY(0);
  }
}
