@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

* {
  font-family: 'Quicksand', sans-serif !important;
}

/* Navbar Start */
nav {
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);
  color: #3e3d3d !important;
}

.nav-store {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  align-items: center;
  padding: 20px 0 15px 0;
  height: 125px;
}

.logo-nav-link .link {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 550;
}
.logo-nav-link .link a {
  cursor: pointer;
}
.logo-nav-link .link p,
.logo-nav-link .link p::after {
  cursor: pointer;
  display: block;
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.link p:hover::after {
  display: block;
  content: '';
  border-bottom: 1px solid #3e3d3d;
}
.logo-nav-link {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

.donstore {
  cursor: pointer;
  width: 80%;
}

.logo-nav-link {
  text-align: center;
}

.basket-icons,
.profile-icons {
  cursor: pointer;
}

/* Navbar End */

/* Jumbotron Start */
.jumbotron .display-4 {
  font-weight: 600 !important;
}
.jumbotron {
  background-image: url('../img/jumbotron.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 124px;
}

.jumbotron p {
  font-size: 18px;
  color: white;
}
.jumbotron .btn {
  border: 2px solid white;
  transition: 0.2s;
}
.jumbotron h3 {
  font-size: 50px;
}

.jumbotron .btn:hover {
  border: 2px solid #fff !important;
  color: #3e3d3d !important;
  background-color: #fff !important;
}

/* Jumbotron End */

/* Collections Start */
.collections {
  margin-top: 80px;
  overflow-x: hidden;
}
.text-collection h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.text-collection h3:after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 5px;
  content: ' ';
  text-shadow: none;
  background-color: #3e3d3d;
  width: 140px;
}

.collections .col-md-3 img {
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}
.collections .col-md-3 img:hover {
  opacity: 0.8;
}

.collections .col-md-3 {
  padding: 5px;
}
/* Collections End */
/* Jumbotron Content Start */
.jumbotron-content {
  margin-top: 80px;
}
.jumbotron-content .women {
  background-image: url('../img/women.svg');
  height: 450px;
}
.jumbotron-content .man {
  background-image: url('../img/man.svg');
  height: 450px;
}
.jumbotron-content .container-carousel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}
.jumbotron-content .container-carousel .content {
  text-transform: uppercase;
}

.jumbotron-content .container-carousel .content .btn {
  padding: 10px 30px;
  border: 2px solid white;
  color: white;
}
.jumbotron-content .container-carousel .content .btn:hover {
  border: 2px solid white;
  background-color: white;
  color: #3e3d3d;
}
ol.carousel-indicators {
  display: none !important;
}
/* Jumbotron Content End */
/* Slider Category Start */
.category {
  margin: 100px 0 100px;
}
.text-category h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.text-category h3:after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 5px;
  content: ' ';
  text-shadow: none;
  background-color: #3e3d3d;
  width: 140px;
}
.row-category {
  overflow-x: hidden;
  height: 600px;
}
.row-category .col-md-12 {
  padding: 5px;
}
.row-category .col-md-12 img {
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
}
.row-category .col-md-12 img:hover {
  opacity: 0.8;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  font-size: 50px;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.slick-arrow.slick-prev {
  margin-left: 50px !important;
}
.slick-arrow.slick-next {
  margin-right: 50px !important;
}
button.slick-arrow:before {
  font-size: 50px !important;
}

/* Slider Category End */
/* Promo Start */
.promo {
  margin-bottom: 100px;
  text-transform: uppercase;
}
.promo .btn-sign-up {
  padding: 10px 20px;
  background-color: #3e3d3d;
  color: white;
}
.promo .btn-sign-up:hover {
  background-color: #2b2a2a;
  color: white;
}
/* Promo End */
/* Footer Start */
footer {
  overflow-x: hidden;
  height: 200px;
}
footer .footer-content {
  color: white;
  height: 100%;
  background-color: #3e3d3d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-content p {
  color: white;
  cursor: pointer;
}
.footer-content p:hover {
  color: rgb(202, 168, 168);
}

.footer-content .icons-social {
  cursor: pointer;
}

.copyright {
  cursor: pointer;
}
.copyright:hover {
  color: rgb(170, 170, 170);
}
/* Footer End */
