@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}

/* Navbar Start */
nav {
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);
  color: #3e3d3d !important;
}

.nav-store {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  align-items: center;
  padding: 20px 0 15px 0;
}

.logo-nav-link .link {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 550;
}
.logo-nav-link .link a {
  cursor: pointer;
}
.logo-nav-link .link a {
  cursor: pointer;
}

.logo-nav-link {
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

.link a:hover {
  background-color: #3e3d3d;
  color: white !important;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 5px 0 5px;
}

.donstore {
  cursor: pointer;
  width: 80%;
}

.logo-nav-link {
  text-align: center;
}

.basket-icons,
.profile-icons {
  cursor: pointer;
}

/* Navbar End */

/* Jumbotron Start */
.jumbotron {
  background-image: url('../img/jumbotron.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 124px;
}

.jumbotron p {
  font-size: 18px;
  color: white;
}
.jumbotron .btn {
  border: 2px solid white;
  transition: 0.2s;
}
.jumbotron h3 {
  font-size: 50px;
}

.jumbotron .btn:hover {
  border: 2px solid #fff !important;
  color: #3e3d3d !important;
  background-color: #fff !important;
}

/* Jumbotron End */

/* Category Start */
.category {
  margin-top: 130px;
}
.text-category h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.text-category h3:after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 5px;
  content: ' ';
  text-shadow: none;
  background-color: #3e3d3d;
  width: 140px;
}
.text-category h3:before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 5px;
  content: ' ';
  text-shadow: none;
  background-color: #3e3d3d;
  width: 140px;
}

.category {
  overflow-x: hidden;
}

.category .col-md-3 {
  padding: 5px;
  position: relative;
}

.category .col-md-3 img {
  width: 100%;
  height: 500px;
  cursor: pointer;
}

.category .col-md-3 .btn {
  border: 2px solid white;
  transition: 0.2s;
  color: white;
}
.category .col-md-3 .btn:hover {
  border: 2px solid white;
  background-color: #fff;
  color: #3e3d3d;
}

.category .col-md-3 .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 97%;
  height: 500px;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.category .col-md-3 .overlay:hover {
  opacity: 1;
}
/* Category End */

/* Jumbotron Women and Man Start */
.women-man {
  margin-top: 150px;
}
.women {
  background-image: url('../img/women.svg');
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
}
.man {
  background-image: url('../img/man.svg');
  height: 450px;

  background-size: cover;
  background-repeat: no-repeat;
}

.caption-women {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caption-women .description {
  text-transform: uppercase;
  padding-top: 50px;
}
.caption-man {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caption-man .description {
  text-transform: uppercase;
  padding-top: 50px;
}
.women-man .btn-style {
  background-color: transparent;
  border: 3px solid white;
  transition: 0.2s;
}
.women-man .btn-style:hover {
  color: #3e3d3d !important;
  border: 3px solid #fff;
  background-color: #fff;
}

/* Jumbotron Women and Man End */
/* Leading Brand Start */
.leading-brand {
  margin-top: 100px;
}
.leading-brand h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.leading-brand h3::before {
  content: ' ';
  border-bottom: 5px solid #fff;
  display: block;
}
.row-slick {
  overflow-x: hidden;
  height: 700px;
}

.row-slick .col-md-12 {
  padding: 5px;
}

.row-slick .details img {
  width: 100%;
  height: 500px;
}
/* Leading Brand End */

/* Footer Start */
footer {
  overflow-x: hidden;
  height: 200px;
}

footer .footer-content {
  color: white;
  height: 100%;
  background-color: #3e3d3d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-content p {
  color: white;
  cursor: pointer;
}
.footer-content p:hover {
  color: rgb(202, 168, 168);
}

.footer-content .icons-social {
  cursor: pointer;
}

.copyright {
  cursor: pointer;
}
.copyright:hover {
  color: rgb(170, 170, 170);
}
/* Footer End */
